<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
  <div class="secrets-centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-4">You've Some Secrets!</h1>
  
    <div class="row mt-3">
      <% usersWithSecrets.forEach(function(userSecret) { %>
        <div class="col-lg-4 col-md-6">
          <div class="card mt-1 mb-1">
            <div class="card-body">
              <p class="secret-text"><%=userSecret.secret %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  
    <a class="btn btn-dark btn-submit" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>