body {
  background-color: #F9F7F7;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.submit-button {
  margin-top: 20px;
}

.card-social {
  width: 15rem;
  text-align: center;
}

@media (max-width: 768px) {
  .card-social {
    width: auto;
    text-align: left;
  }
}